<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/solicitar.css' />
  </head>
  <body>
    <div id="conteudo">
        <p class="logout"><input type="button" id="btnlogout" value="Logout" onclick="window.location='/'"></p>
            <p class="header">Reprovação de Antecipação</p>
            <form id="formulario" action="<%= action %>" method="POST">
                <div id="form">
                <div id="inputs">
                    <p class="campos">Número: <input type="text" id="numero" name="numero" size ="50%" value="<%= doc.numero %>" readonly="true"/></p>
                    <p class="campos">Data anterior: <input type="text" id="dtPag" name="dtPag" size ="50%" value="<%= doc.dtPag %>" readonly="true"/></p>
                    <p class="campos">Nova data: <input type="text" id="novaDt" name="novaDt" size ="50%" value="<%= doc.novaDt %>" readonly="true"/></p>
                    <br>
                    <p id="form"><input class="button" type="submit" id="btnconfirme" value="Confirmar" /><input class="button" type="button" value="Cancelar" onclick="window.location='/index2'" /></p>
                </div>
            </div>
            </form>
    </div>
  </body>
</html>